/* -------------- PRODUKT -------------- */ 

main {
	display: flex;
	padding: 50px;
	justify-content: space-between;
}

main #billede-side {
	width: 65%;
	height: fit-content;
}

main #billede-side #product-image {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 25px;
	width: 100%;
	height: auto;
	border-style: solid;
    border-color: #2d6489;
    border-radius: 24px;
}

main #billede-side #product-image img.active {
	width: 100%;
	height: 100%;
}

main #billede-side #product-image img.initial {
	width: 100%;
	height: 100%;
}

main #billede-side #product-image img {
	width: 0;
	height: 0;
}

main #produkt-indhold {
	display: flex;
	/*justify-content: space-between;*/
	flex-direction: column;
	width: 30%;
}

main #produkt-indhold article #pris-product span:first-of-type {
	font-weight: bold;
}

main #produkt-indhold article #pris-product span:last-of-type {
	font-weight: normal;
	font-style: italic;
}

main #produkt-indhold article #pris-product span:last-of-type span {
	text-decoration: line-through;
}

#lager-produkt {
	margin-bottom: 15px;
}

#lager-produkt span {
	display: inline-block;
	border-radius: 100%;
	width: 10px;
	height: 10px;
	background-color: rgb(10, 255, 20);
}

main #produkt-indhold button {
	font-family: "Kantumruy Pro";
	font-weight: bold;
	cursor: pointer;
	padding: 10px 15px;
	border-radius: 40px;
	border-style: none;
	background-color: rgb(49, 148, 187);
	width: 100%;
	color: white;
}

main #produkt-indhold button:hover {
	background-color: rgb(24, 120, 158);
}

main article ul {
	list-style-type: disc;
}

main a:hover {
	font-weight: bold;
	text-decoration: underline;
}

main a {
	text-decoration: none;
	color: var(--primary-text-color);
	transition: background-color 0.3s ease, transform 0.3s ease;
	border-radius: 8px;
	padding: 6px 12px;
	
}

main #produkt-indhold .noStockButton {
	background-color: gray;
}

main #produkt-indhold .noStockButton:hover {
	background-color: rgb(97, 97, 97);
}