/* --------------- BROWSER RESET --------------- */

* {
	box-sizing: border-box;
	font-family: "Kantumruy Pro";
}

html, body, figure, p, a {
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

img, svg, video {
	max-height: 100%;
	max-width: 100%;
}

ul, ol {
	list-style-type: none;
}

figure, nav {
	width: fit-content;
	height: fit-content;
}

a {
	text-decoration: none;
	color: var(--primary-text-color);
}

/* --------------- EXTRA --------------- */

:root {
	--primary-background-color: rgb(80, 185, 255);
	--primary-text-color: black;
	--secondary-background-color: rgb(201, 201, 201);
	--secondary-text-color: rgb(95, 95, 95);
	--warning-background-color: orange;
}

body {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	min-height: 100vh;
	max-width: 100vw;
	overflow-x: hidden;
}

.phone {
	display: none;
}


/* --------------- HEADER --------------- */

.header {
	width: 100%;
	height: 17vh;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--primary-background-color);
	gap: 1vh;
}

.header .hidden {
	display: none;
}

/* RETURN */

.header .returnPolicy {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 4vh;
	margin: 0;
	padding: 10px 0;
	gap: 50px;
	font-style: italic;
	background-color: var(--warning-background-color);
}

.header .returnPolicy li a {
	display: flex;
	gap: 10px;
}

.header .returnPolicy li {
	width: fit-content;
}

.header .returnPolicy img {
	width: 20px;
	height: auto;
}

/* MAIN NAV */

.header .navBar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 30px;
	height: 6vh;
	width: 100%;
}

.header .navBar .navBtns {
	margin-left: 10px;
	gap: 30px;
}

.header .navBar .navBtns figcaption:hover {
	text-decoration: underline;
}

.header .navBar section {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 375px;
}

.header .navBar .logo {
	cursor: pointer;
	justify-content: flex-start;
}

.header .navBar .logo img {
	width: 200px;
}

.header .navBar .navBtns img {
	width: 20px;
	height: auto;
}

.header .navBar .navBtns a figure {
	display: flex;
	gap: 5px;
}

#header .navBar #phone-search, #header .navBar #burger-menu {
	cursor: pointer;
	background: transparent;
	color: transparent;
	border: none;
	height: 30px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20px;
	width: fit-content;
}

#header .navBar #phone-search {
	background-image: url(/images/icons/search.svg);
}

#header .navBar #burger-menu {
	background-image: url(/images/icons/menu-burger.svg);
}

/* LINKS */

.header .navLinks {
	background-color: red;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	font-weight: bold;
	padding: 0;
	height: 4vh;
	margin: 0;
}

.header .border-bottom {
	padding: 5px 30px;
}

/* SEARCH */

.header .navBar .search {
	display: flex;
	align-items: center;
	border-radius: 100px;
	background-color: white;
	padding: 5px 5px;
	width: 50%;
	height: 100%;
}

.header .navBar .search input {
	background: transparent;
	margin-left: 20px;
	padding: 0;
	height: 100%;
	border: none;
	outline: none;
	width: 95%;
}

.header .navBar .search button {
	margin-left: 10px;
	padding: 0;
	cursor: pointer;
	border: none;
	background: transparent;
	color: transparent;
	background-image: url(/images/icons/search.svg);
	background-repeat: no-repeat;
	background-size: contain;
}

/* EXTRA */

.header #burger {
	align-items: center;
	flex-direction: column;
	background-color: red;
	padding: 20px 0;
	gap: 25px;
}

.header #burger a figure {
	display: flex;
	align-items: center;
	height: auto;
}

.header #burger a figure img {
	width: 40px;
}

/* --------------- MAIN --------------- */

main {
	width: 100%;
}

/* --------------- FOOTER --------------- */

.footer {
	background-color: var(--secondary-background-color);
	padding: 10px 25px;
	width: 100%;
}

.footer .information {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	padding: 70px 0;
}

.footer .information #footer-section-5 button {
	cursor: pointer;
	padding: 10px 35px;
	background: transparent;
	border: solid 2px var(--secondary-text-color);
	margin-top: 15px;
	border-radius: 5px;
}

.footer .below-footer {
	display: flex;
	justify-content: space-between;
}

.footer .below-footer img {
	width: 20px;
	height: auto;
}

.footer .below-footer nav, .footer .below-footer figure, .footer .below-footer p {
	text-align: center;
	width: 467px;
}

#footer-section-1, #footer-section-2, #footer-section-3, #footer-section-4, #footer-section-5 {
	font-size: large;
	width: 225px;
}

/* --------------- DEVICES --------------- */

@media screen and (max-width: 1195px) {
	
	/* HEADER */

	#header #search {
		display: none;
	}

	.header .navBar section {
		width: 375px;
	}

	#header .navBar .logo {
		width: fit-content;
	}

	#header .navBar #phone-search {
		display: block;
	}

	.footer .information section ul {
		padding: 0;
	}

	/* FOOTER */

	.footer .information {
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 515px) {

	/* HEADER */

	.header {
		justify-content: flex-start;
		height: fit-content;
	}

	.header .returnPolicy {
		flex-direction: column;
		height: 8vh;
		gap: 10px;
	}

	#header .navBar #burger-menu {
		display: block;
	}

	.header .navLinks, .header .navBar .navBtns {
		width: fit-content;
		margin: 0;
		gap: 0;
	}

	.header .navLinks, .header .navBar .navBtns a {
		display: none;
	}

	.show-on-mobile {
		display: flex;
	}

	/* FOOTER */

	.footer .information {
		flex-wrap: nowrap;
		flex-direction: column;
	}

	.footer .below-footer {
		flex-direction: column;
		align-items: center;
		flex-wrap: wrap;
	}

	.footer .below-footer p, .footer .below-footer nav, .footer .below-footer figure {
		width: fit-content;
	}

	#footer-section-1, #footer-section-2, #footer-section-3, #footer-section-4, #footer-section-5 {
		width: 100%;
		text-align: center;
	}
}